@import "~bootstrap/scss/bootstrap";

.app-title {
    text-align: center;
    color: #363434;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  